.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 19, 32);
    box-shadow: 0px 0.5px 4px 1px rgba(56, 54, 54, 0.568);
    border-radius: 25px;
    color: #fff;
    margin-top: 5rem;
}


